.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #87ceeb;
    min-height: 70vh;
}

.heading {
    font-family: Inter, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-weight: bold;
    max-width: 80%;
}

.sections {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
}

.general, .surgery, .eyecare {
    flex: 1;
    min-width: 225px;
    max-width: 275px;
    border-radius: 20px;
    padding: 2rem 1.5rem;
    background-color: #eaf3fe;
    display: flex;
    flex-direction: column;
}

.cardHeader {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.cardHeader img {
    height: 75px;
    width: 75px;
    margin-right: 1rem;
}

.generaltitle, .surgerytitle, .eyecaretitle {
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.list {
    width: 100%;
    font-family: Inter, sans-serif;
    font-size: 1rem;
}

.list ul {
    padding-left: 1.5rem;
}

.list li {
    margin-bottom: 0.5rem;
}

@media (max-width: 1024px) {
    .sections {
        flex-direction: column;
        align-items: center;
    }
    
    .general, .surgery, .eyecare {
        width: 100%;
        max-width: 500px;
        margin-bottom: 2rem;
    }
}