.background {
    background-image: url('../../images/herobg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 55vh;
    display: flex;
    align-items: flex-start;
    justify-content:left;
    position: relative;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    height: 60vh;
    transition: opacity 0.5s ease-out;
} 

.heading {
    text-align: left;
    color: white;
    margin-left: 340px;
    margin-bottom: 40px;
}

.title {
    font-size: 40px;
    font-family: 'Spectral', serif;
    letter-spacing: -1.5px;
}

.details {
    font-size: 22px;
    font-family: 'Spectral', serif;
    letter-spacing: -1px;
}
