.background {
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    display: flex;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    height: 40vh;
}

.heading {
    font-weight: bold;
    text-align: left;
    color: black;
    font-size: 40px;
    font-family: 'Inter', serif;
    letter-spacing: -1.5px;
    margin-left: 340px;
    margin-bottom: 80px;
}

.info {
    padding-top: 45px;
    padding-left: 340px;
    padding-right: 340px;
    padding-bottom: 30px;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
}

.info h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #111;
}

.iconinfo {
  display: flex;
  justify-content: center;
  gap: 9rem;
  flex-wrap: wrap;
  padding-top: 30px;
}

.card {
  text-align: center;
  max-width: 280px;
  color: #0f3557;
}

.card p {
  font-size: 1.3rem;
}

.iconCircle {
  background-color: #0057a3;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.bold {
  font-weight: bold;
  color: #0072a3;
  margin: 0.2rem 0;
}

.subheading {
  color: #f45700;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}

.mapContainer {
  margin-top: 3rem;
  width: 100%;
  max-width: 1000px;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
}

@media (max-width: 768px) {
  .background {
    min-height: 30vh;
    justify-content: center;
    padding: 1rem;
    align-items: center;
  }

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    color: white;
    padding: 1rem;
  }

  .heading {
    font-size: 1.8rem;
    text-align: center;
    margin: 0 1rem 1rem;
  }

  .info {
    padding: 30px 20px;
  }

  .info h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .iconinfo {
    flex-direction: column;
    gap: 2.5rem;
    padding: 20px;
    align-items: center;
  }

  .card {
    max-width: 100%;
    padding: 0 1rem;
  }

  .card p {
    font-size: 1rem;
  }

  .iconCircle {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }

  .subheading {
    font-size: 1.5rem;
    margin: 1.5rem 0 1rem;
  }

  .mapContainer {
    height: 300px;
    width: 90%;
    border-radius: 10px;
    padding-bottom: 60px;
  }
}
