.container {
    display: flex;
    height: 30vh;
    align-items: center;
    padding: 2rem;
    background: white;
}

.heading {
    flex-direction: column;
    font-size: 3rem;
    font-family: Inter;
    color: black;
    font-weight: bold;
    padding-left: 300px;
    padding-right: 85px;
    letter-spacing: -1.5px;
}

.button {
    height: 63px;
    width: 342px;
    border-radius: 40px;
    font-family: Inter;
    text-align: center;
    border: none;
    font-size: 1.25rem;
    background-color: #004aad;
    color: #eaf3fe;
    margin-left: 60px;
    cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    justify-content: center;
  }

  .heading {
    padding: 0;
    font-size: 2rem;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
    justify-content: center;
    text-align: center;
  }

  .button {
    width: 120%;
    max-width: 280px;
    height: 50px;
    margin: 0 auto;
    font-size: 1rem;
    border-radius: 30px;
  }
}
